Uninstaller/*
ant.bat
ant.sh
ant/*
ant/*/*
ant/*/*/*
art/*
art/*/*
art/*/*/*
bc.conf
build.xml
common-source/*
doc/*
doc/*/*
doc/*/*/*
gluegen-rt.dll
idata
jogl.dll
jogl_awt.dll
jogl_cg.dll
lib/*
maps/*
music/*
bin/*
bin/*/*